
<main>
  <div class="left-content">
    <div class="row justify-center">
      <form>
        <legend>Enter your coin value :&nbsp;<i class="fa fa-btc" aria-hidden="true"></i></legend>
        <input type="text" value="Enter your value.." name="coinInput"/>
        <select name="coinSelect">
          <option value="BTC">Bitcoin (BTC)</option>
          <option value="BCH">Bitcoin Cash (BCH)</option>
          <option value="BTG">Bitcoin Gold (BTG)</option>
          <option value="ETH">Ethereum (ETH)</option>
          <option value="XMR">Monero (XMR)</option>
          <option value="AEON">Aeon (AEON)</option>
          <option value="XRP">Ripple (XRP)</option>
          <option value="LTC">Litecoin (LTC)</option>
          <option value="MIOTA">IOTA (MIOTA)</option>
          <option value="ADA">Cardano (ADA)</option>
          <option value="DASH">Dash (DASH)</option>
          <option value="EOS">EOS (EOS)</option>
          <option value="NEO">NEO (NEO)</option>
          <option value="QTUM">Qtum (QTUM)</option>
          <option value="XLM">Stellar (XLM)</option>
          <option value="ETC">Ethereum Classic (ETC)</option>
          <option value="TRX">TRON (TRX)</option>
          <option value="XEM">NEM (XEM)</option>
        </select>
      </form>
    </div>
  </div>
  <div class="middle-content">
    <div class="row justify-center">
      <button type="button"><i class="fa fa-exchange" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="right-content">
    <div class="row justify-center">
      <form>
        <legend>Enter your money value :&nbsp;<i class="fa fa-usd" aria-hidden="true"></i></legend>
        <input type="text" value="Enter your value.." name="moneyInput"/>
        <select name="moneySelect">
          <option value="USD">U.S. Dollar (USD)</option>
          <option value="EUR">Euro (EUR)</option>
          <option value="UAH">Hryvnia (UAH)</option>
          <option value="RUB">Ruble (RUB)</option>
        </select>
      </form>
    </div>
  </div>
</main>