main
    .left-content
        .row.justify-center
            form
                legend Enter your coin value :&nbsp;
                    i.fa.fa-btc(aria-hidden="true")
                input(type="text" value="Enter your value.." name="coinInput")
                select(name="coinSelect")
                    option(value="BTC") Bitcoin (BTC)
                    option(value="BCH") Bitcoin Cash (BCH)
                    option(value="BTG") Bitcoin Gold (BTG)
                    option(value="ETH") Ethereum (ETH)
                    option(value="XMR") Monero (XMR)
                    option(value="AEON") Aeon (AEON)
                    option(value="XRP") Ripple (XRP)
                    option(value="LTC") Litecoin (LTC)
                    option(value="MIOTA") IOTA (MIOTA)
                    option(value="ADA") Cardano (ADA)
                    option(value="DASH") Dash (DASH)
                    option(value="EOS") EOS (EOS)
                    option(value="NEO") NEO (NEO)
                    option(value="QTUM") Qtum (QTUM)
                    option(value="XLM") Stellar (XLM)
                    option(value="ETC") Ethereum Classic (ETC)
                    option(value="TRX") TRON (TRX)
                    option(value="XEM") NEM (XEM)
    .middle-content
        .row.justify-center
            button(type="button")
                i.fa.fa-exchange(aria-hidden="true")
    .right-content
        .row.justify-center
            form
                legend Enter your money value :&nbsp;
                    i.fa.fa-usd(aria-hidden="true")
                input(type="text" value="Enter your value.." name="moneyInput")
                select(name="moneySelect")
                    option(value="USD") U.S. Dollar (USD)
                    option(value="EUR") Euro (EUR)
                    option(value="UAH") Hryvnia (UAH)
                    option(value="RUB") Ruble (RUB)
