header
    .brand
        .logo
            a.logo-link(href="#")
                img(src="img/white-dblue.png" alt="logo")
    .nav
        nav
            ul.nav-list
                li.list-item
                    a.item-link(href="#") Exchange
                li.list-item
                    a.item-link(href="#") Graph
                li.list-item
                    a.item-link(href="#") Donate